Appointment Cancellation

Your appointment for {{startDateTime}} has been cancelled.

{{#ccRefunded}}
Your credit card charge of {{amount}} has been refunded. The refund confirmation code is {{confirmationCode}}.
{{/ccRefunded}}

Thank you!

- Los Angeles Mikvah Society
