Appointment Confirmation

Your appointment for {{startDateTime}} is confirmed.

Please be sure to be on time. If you need to cancel your appointment you may do so anytime before your appointment by going to the appointments page on the website.

{{#ccCharged}}
Your {{cardType}} ending in {{last4}} was charged {{amount}}. The confirmation code is {{confirmationCode}}.
{{/ccCharged}}

Thank you for supporting the mikvah.

- Los Angeles Mikvah Society
