Mikvah Membership Automatic Renewal Disabled

Thank you for being a Mikvah member. Please note that your account has the automatic renewal feature turned off and your membership will expire on {{ expirationDate }}. You can turn this feature back on by going into your account settings.

Thank you,

- Los Angeles Mikvah Society
