Mikvah Membership Automatic Renewal Enabled

Thank you for being a Mikvah member. Please note that your account has the automatic renewal feature turned on and your credit carc on file will be charged on {{ expirationDate }}. You can turn this feature off by going into your account settings.

Thank you for supporting the mikvah!

- Los Angeles Mikvah Society
