Credit Card Change

Please note that the credit card number you have on file has been changed.  If you did not make this change please contact us immediately.

{{#isAutoRenewingMember}}
This card will be used for your next mikvah membership renewal.
{{/isAutoRenewingMember}}

Thank you for supporting the mikvah.

- Los Angeles Mikvah Society
