Dear {{name}},

The Mikvah Society of Los Angeles acknowledges your generous donation. Your support helps to maintain our beautiful facility and enables us to provide a valuable service to the entire community.
Thank you for your contribution.

Sincerely yours,
Elizabeth Steinlauf
Treasurer

-------------------------------------------------------------------
Official Receipt:

Date: {{ date }}
Amount: {{ amount }}

Tax ID: {{ taxID }}
Mikvah Society Of Los Angeles
9548 West Pico Blvd
Los Angeles, CA 90035
(310) 550-4511

Your donation is tax deductible.
No goods or services were received in exchange for this donation.