Mikvah Membership Ended

Thank you for your past support of out community Mikvah. You are receiving this email because your current membership has expired.

As you know one of the perks of being an annual member is that you are not required to pay a per-use fee to use the mikvah and can schedule appointmen ts online for no additional fee.

You may renew your membership by logging into your account at www.lamikvah.org . By paying online there will be no delay in the re-activation of your membership and appointments can be made by the next day.

Please know how necessary and appreciated your participation and support is in maintaining our community Mikvah.     

Thank you for supporting the mikvah!

- Los Angeles Mikvah Society
