Welcome To The Los Angeles Mikvah Society - Mikvat Esther Website

The Mikvah website now allows you to book an appointment online and to pay for it in advance.

You can become a mikvah member using the website. Mikvah memebers help support the mikvah on an on-going basis by paying an annual membership fee. Mikvah members are not required to pay a per-use fee to use the mikvah and do not have to pay any fees to make appointments online.

Appointments help us minimize wait times. Please make appointments whenever possible and please show up to them on-time.

Thank you for supporting the mikvah.

- Los Angeles Mikvah Society
